body{
  background-color: #FFFFFF;
}
nav a img{
  width: 80px;
  height: 50px;
  background-color: red;
  border-radius: 300px;
}

div nav ul li{
  font-family: 'Lobster', cursive;
  color: red;
  font-size: 10px;

}


#navbarSupportedContent a{
  color: red;
  display: inline-block;
}

.navsuperior{
  background-color: white;
  width: 20px;

}

.nav-item{
    margin-right: 20px;
}

#avatar{
  width: 50px;

}

.navinferior{
 background-color: #FFFFFF;
}

.dropdown-menu{
  background-color: Peru;

}

.dropdown-menu a:hover {
  background-color: #B96340 ;
}

.btn-ttc{
  background-color: #FFFFFF;
  border-color: red;
  height: 50px;
  width: 200px;
}

.btn-ttc a{
  color: red;
  font-size: 10px;
}

.btn-ttc2{
  background-color: red;
  height: 50px;
  width: 200px;
}

.btn-ttc2 a{
  color: white;
  font-size: 10px;
}

.btn-ttc3{
  background-color: green;
  height: 50px;
  width: 200px;
}

.btn-ttc3 a{
  color: white;
  font-size: 10px;
}
.inicio-productos {
  text-align: center;
  padding: 15px;
  font-family: 'Lobster', cursive;
  text-align: center;

}

.inicio-lista-1{
  text-align: center;
  background-color: #8B4513;
  padding: 25px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;

}

.inicio-lista-1 h3{
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  font-size: 10px;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  }

.inicio-lista-1 span{
 font-size: 30px;
}



.inicio-lista-2{
  text-align: center;
  background-color: Peru;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;

}

.inicio-lista-2 h3{
  font-family: 'Lobster', cursive;
  font-size: 20px;
}

.inicio-lista-2 p{
  font-family: 'Gayathri', sans-serif;
  font-size: 10px;
}

.inicio-lista-2 span{
 font-size: 30px;
}


.preguntas{
  padding: 25px;
  margin-left: 150px;
  margin-right: 150px;
  background-color: Peru;
  border-radius: 5px;
}

.preguntas h3{
  font-family: 'Lobster', cursive;
}

.preguntas h4{
    font-family: 'Lobster', cursive;
}

.preguntas p{
  font-family: 'Gayathri', sans-serif;
}

.contacto{
  background-color: Peru;
  margin: 50px;
  padding: 20px;
  border-radius: 5px;
}

.contacto label{
  font-family: 'Lobster', cursive;
}

.contacto h3{
    font-family: 'Lobster', cursive;
}

.contacto p{
  font-family: 'Gayathri', sans-serif;
}

.contacto btn-ttc{
  background-color: #B96340;
  font-family: 'Lobster', cursive;
  width: 50px;

}


.carga{
  background-color: Peru;
  margin: auto 105px;
  padding: 25px;
  margin-left: 100px;
  margin-right: 50px;

}

.carga label{
    font-family: 'Lobster', cursive;
}

.carga h3{
    font-family: 'Lobster', cursive;
}
.carga textarea{
      font-family: 'Gayathri', sans-serif;
}

.carga option{
      font-family: 'Gayathri', sans-serif;
}

footer{
  background-color: #FFFFFF;
  margin-top: 25px;
  margin-left: 130px;
}

footer div ul {
  list-style-type: none;
}

footer div ul li a{
 font-family: 'Gayathri', sans-serif;
 color: red;
 font-size: 15px;
}

footer h6{
  font-family: 'Lobster', cursive;
  color: red;
}

footer ul{
  margin: 0px;
	padding: 0px;
}

footer li{
margin: 0px;
padding: 0px;
}

footer h6{
  font-family: 'Lobster', cursive;
  color: red;
}

.footer-identidad{
  padding-left: 25px;
}

.footer-redes {
  padding-left: 25px;

}

.adminproductos h2{
  font-family: 'Lobster', cursive;
}

.adminproductos{
  width:800px;
  margin-left: auto;
  margin-right: auto;
  background-color: Peru;
}


.adminproductos a{
  font-family: 'Lobster', cursive;
  color: black;
}

.detalleProducto{
  width:400px;
  text-align: center;
  background-color: #8B4513;
  padding: 25px;
  color: white;
  margin-right: 10px;
  border-radius: 10px;
  border-color: #FFFFFF;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.detalleProducto h2{
  font-family: 'Lobster', cursive;
  font-size: 40px;
}
.detalleProducto h3{
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.detalleProducto p{
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
}

.detalleProducto p{
  font-family: 'Gayathri', sans-serif;
  }



@media only screen and (min-width:768px){

  div nav ul li{
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 20px;

  }

  nav a img{
    width: 80px;
    height: 50px;
  }

  .btn-ttc {

    width: 350px;

  }

  .btn-ttc a{
    color: red;
    font-size: 20px;
  }

  .navsuperior{
    width: 768px;
    margin-left: 20px;
    margin-right: 15px;
  }



  .carga{
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;

}

.inicio-productos {
  text-align: center;
  padding: 15px;
  font-family: 'Lobster', cursive;
  text-align: center;

}

.inicio-lista-1{
  text-align: center;
  background-color: #8B4513;
  padding: 25px;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.inicio-lista-1 h3{
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
}

.inicio-lista-1 p{
  font-family: 'Gayathri', sans-serif;
  }

.inicio-lista-1 span{
   font-size: 48px;
  }



.inicio-lista-2{
  text-align: center;
  background-color: Peru;
  padding: 25px;
  margin-left: 10px;
  margin-right: 10px;

}

.inicio-lista-2 h3{
  font-family: 'Lobster', cursive;
  font-size: 30px;

}

.inicio-lista-2 p{
  font-family: 'Gayathri', sans-serif;
  font-size: 20px;
}

.inicio-lista-2 span{
 font-size: 48px;
}

.footer-identidad{
  padding-left: 35px;

}

footer div ul li a{
 font-size: 15px;
}

footer h6{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 20px;
}

.detalleProducto{
  margin-left: 150px;
  margin-right: 100px
}


@media only screen and (min-width:1024px){

  div nav ul li{
    font-size: 20px;

  }

  nav a img{
    width: 80px;
    height: 50px;
  }

  .btn-ttc {
    background-color: #FFFFFF;
    height: 70px;
    width: 350px;

  }

  .navsuperior{
    width: 700px;
    margin-left: 20px;
    margin-right: 15px;

  }

.navinferior{
  margin-left: 100px;
}

  .btn-ttc a{
    color: red;
    font-size: 30px;
  }



  .footer-identidad{
    padding-left: 40px;
  }

  footer div ul li a{
   font-size: 15px;
  }

  footer h6{
    font-family: 'Lobster', cursive;
    color: red;
    font-size: 20px;
  }

  .detalleProducto{
    margin-left: 350px;
    margin-right: 200px
  }


}
