.nosotros h4{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: black;
}

.nosotros h3{
  text-align: center;
  color: black;
}

.nosotros p{
  font-family: 'Gayathri', sans-serif;
}

p {
  width: auto;
  margin: auto;
  text-align: center;

}

.video{
  background-position: center;
}

.general{
  padding: 29px;
}

.nosotros.img{
  width: 100px;
  padding-left: 50px;


}
.nosotros{
  background-color: peru;
  padding-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.img{
  text-align: center;

}

.img img{
  width: 150px;
}

.nuestra_historia{
  padding-bottom: 25px;
}
